.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(78deg, #859ee7, #e4a4e4, #c06fd4) ;
}

.frm , .log, .reg{
  display: flex;
  flex-direction: column; 
}

label {
  text-align: left;
  padding: 0.25rem 0 ;
}

.input{
   margin: 0.25rem 0;
   border: none;
   border-radius: 10px;
}
button {
  margin-top: 0.5rem;
  border: none;
  background-color: white;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  color: #770a92;
}
.btn{
  background: none;
  color: white;
  text-decoration: underline;
}